<% provide(:title, "About Us") %> 


<div class="inner-container" style="padding-bottom: 200px;"> 
<div class='row'>
	<h3> About Us</h3>
</div>

<div class="row">
	<div class= "col-sm-12"> 
		<div class="about-image"><%= link_to image_tag("about-us.jpg", :alt => "L & N Office", size:"200x250"), '#' %> </div> <p>Founded in 1995 as an office equipment producer, L&N office Systems Sdn Bhd evolved to become and integrated office furniture and fittings service provider for both local and foreign customers. 

		Mr Ng Kok Yong, the founder, has vast experience in office furniture fittings. Prior to the establishment of L&N, Mr Ng has worked in similar industry for many years. 

		L&N aims to provide efficient and innovativ services to its customers by designing innovatice and flexible office furniture and fittings solutions to meet its customer needs. 

		L&N products is manufactured in our fully integrated furniture facility in Sungai Buloh, Selangor. The facility is fully equiped with automated machinery and experienced personnel. </p>




	</div>



</div>

</div>